<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie watchlist</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>

<body>
  <nav>
    <a href="/">Watchlist</a>
    |
    <a href="/add-movie">Add movie</a>
    |
    <a href="/sort">Sort movies by runtime</a>
    <br>
    <br>
    <!-- a form to filter the movies by genre -->
    <form action="/select-genre" method="post">
  <label for="genre">Select by genre:</label>
  <select name="genre" id="genre">
    <option value="Action">Action</option>
    <option value="Adventure">Adventure</option>
    <option value="Animation">Animation</option>
    <option value="Comedy">Comedy</option>
    <option value="Crime">Crime</option>
    <option value="Drama">Drama</option>
    <option value="Family">Family</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Horror">Horror</option>
    <option value="Mystery">Mystery</option>
    <option value="Romance">Romance</option>
    <option value="Sci-Fi">Sci-Fi</option>
    <option value="Thriller">Thriller</option>
  </select>
  <input type="submit" value="Submit">
</form>
  </nav>
<!-- loops all movies in the sorted list and displaying them one by one by using a for loop. These movies are sorted by genre -->
  {% for movie in movies_sorted %}

  <div id="movie";>
    <h4>{{ loop.index }}: {{ movie['Title'] }}</h4>
    <br>
    <img src="{{ movie['Poster']}}">
    <br>
    <p>Genre: {{ movie['Genre']}}</p>
    <p id="runtime">Runtime: {{ movie['Runtime']}} min</p>
    <a style ="text-decoration: none;">⬆️</a>
    <a style ="text-decoration: none;">⬇️</a>
    <a style ="text-decoration: none;">🗑️</a>
  </div>

{% endfor %}

</body>
</html>